<!doctype html>
<html ng-app="starter">
<head>
  <title>My Angular App</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="MainCtrl">
	<div class="container">
		<div id="main">
			<div ng-controller="TodoCtrl" class="well form-area">
				<h2 class="text-center">THINGS TO DO</h2>
				<div class="form-group">
					<input type="text" class="form-control" ng-model="todo.title"/>
				</div>
				<ul>
					<li ng-repeat="todo in todos">{{todo.title}}
						<span class="date-span">- {{created_at | date: 'EEEE MMM dd, yyyy'}} </span>
						<button class="btn btn-danger" style="display: block; width: 100%;" ng-click="delete(todo)">Delete</button>
					</li>
					
				</ul>
				<button class="btn btn-success" style="display: block; width: 100%;" ng-click="addTodo()">Add Todo</button>
				<ng-pluralize count="todos.length"
				              when="{'0': 'Nothing to do here. Get to gettin\'.',
				                     'one': 'You have 1 thing to do.',
				                     'other': 'You have {} things to do.'}">
				</ng-pluralize>
			</div>
		</div>
	</div>
</body>
</html>